.contact {
  background-color: $bg_color;
  padding-bottom: 91px;
  color: #fff;
  .above_title {
    padding-left: 10px;
    &:before {
      @include circle;
      top: -20%;
      left: 0;
    }
  }

  &__info {
    width: 50%;
    max-width: 585px;
  }

  .title {
    text-align: left;
    &::after {
      @include line;
    }
  }
  &__social {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
  }
  .social {
    &__network {
      margin-top: 20px;
      a {
        font-size: 30px;
      }
    }
  }
  &__form-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    max-width: 400px;
    width: 50%;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .form {
    margin-top: 30px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      .form__input {
        max-width: 280px;
        width: 100%;
      }
    }

    &__triggers {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }

    &__policy {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      display: flex;
      align-items: center;
      input {
        margin-right: 10px;
      }
      a {
        color: rgb(173, 1, 189);
      }
    }

    &__input {
      position: relative;
      input {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        background-color: $bg_color;
        border: 1px solid #8764da;
        width: 100%;
        height: 45px;
        padding: 0 20px 0 20px;
      }
      textarea {
        resize: none;
        font-size: 12px;
        width: 100%;
        height: 190px;
        background-color: $bg_color;
        border: 1px solid #8764da;
        color: #fff;
        padding: 20px;
      }
      label {
        position: absolute;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        top: 0;
        left: 0;
        background-color: $bg_color;
        padding: 0 8px;
        left: 20px;
        top: -20%;
      }
    }
    .textarea {
      margin-top: 30px;
      label {
        top: -4%;
      }
    }
    .button {
      width: 219px;
      height: 45px;
    }
  }
}
