.hamburger {
  position: fixed;
  top: 20px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
    &:nth-child(2) {
      width: 33px;
      margin: 6px 0 6px 0;
      transform: translateX(-3px);
    }
  }
}
