@media screen and (max-width: 1201px) {
  .container {
    max-width: 820px;
  }
  .promo {
    padding: 200px 0 0 0;
    height: 100vh;
  }

  .benefit {
    padding: 0 0 120px 0px;
  }
  .about-me {
    &__skills {
      grid-template-columns: 1fr;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: 7px;
    }
    &-item {
      padding: 20px;
      &__title {
        margin-top: 5px;
      }
      &__descr {
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .promo {
    padding: 200px 0 0 0;
  }

  .skills {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .container {
    max-width: 85%;
  }
  .header {
    text-align: center;
    .above_title {
      display: inline-block;
    }
    &__links {
      margin: 25px auto;
    }
  }

  .about-me {
    padding: 100px 0 100px 0;
    &__wrapper {
      gap: 25px;
    }
    &__photo {
      width: 320px;
    }
    &__skills {
      gap: 20px;
      margin-top: 20px;
    }
    &__title {
      line-height: 40px;
      margin-top: 13px;
    }
    &__descr {
      margin-top: 15px;
    }
  }

  .social {
    transform: translateY(-50%) translateX(-43%) rotate(-90deg);
  }
}

@media screen and (max-width: 769px) {
  .skills {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .social {
    display: none;
  }
  .container {
    max-width: 95%;
  }

  .about-me {
    padding: 70px 0 70px 0;
    text-align: center;
    .above_title {
      display: inline-block;
    }
    &__info {
      margin-top: 25px;
    }
    &__wrapper {
      display: block;
    }
    &__photo {
      width: 70%;
      margin: 0 auto;
    }
    &__skills {
      grid-template-columns: 1fr 1fr;
      gap: 30px 15px;
      margin-top: 30px;
      text-align: left;
    }
    &__title {
      text-align: left;
    }

    &__descr {
      text-align: left;
    }
  }
}

@media screen and (max-width: 577px) {
  .container {
    max-width: 90%;
  }
  .promo {
    .above_title {
      margin-top: 46px;
    }
    .header {
      text-align: left;
      &__title {
        font-size: 26px;
        line-height: 39px;
      }
      &__links {
        max-width: 100%;
        .button {
          width: 50%;
        }
      }
    }
  }

  .skills {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &-item {
      padding: 30px;
      &__title {
        margin-top: 20px;
      }
      &__descr {
        margin-top: 15px;
      }
    }
  }

  .about-me {
    padding: 40px 0 40px 0;
    text-align: left;
    &__wrapper {
      display: block;
    }
    &__photo {
      width: 100%;
      height: 400px;
      margin: 0 auto;
    }
    &__skills {
      margin-top: 20px;
      grid-template-columns: 1fr;
      gap: 20px 0px;
    }
    &__title {
      margin-top: 26px;
      font-size: 24px;
      line-height: 36px;
    }

    &__descr {
      margin-top: 20px;
    }
  }

  .main-menu {
    min-width: 95%;
  }
  .benefit {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
      margin-top: 0;
    }
    .list {
      margin-top: 40px;
      &__element {
        margin-top: 25px;
      }
      li {
        &:nth-child(2) {
          margin-top: 45px;
        }
      }
    }
  }
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 15px;
  }
}
