@media screen and (max-width: 1201px) {
  .container {
    max-width: 820px;
  }
  .promo {
    padding: 200px 0 0 0;
    height: 100vh;
  }

  .benefit {
    padding: 0 0 120px 0px;
  }
  .about-me {
    &__skills {
      grid-template-columns: 1fr;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: 7px;
    }
    &-item {
      padding: 20px;
      &__title {
        margin-top: 5px;
      }
      &__descr {
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        margin-top: 5px;
      }
    }
  }
  .prices {
    &__list {
      gap: 15px 125px;
    }
  }
  .contact {
    .form {
      &__triggers {
        flex-direction: column-reverse;
      }
      &__policy {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .promo {
    padding: 200px 0 0 0;
  }

  .skills {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .container {
    max-width: 85%;
  }
  .header {
    text-align: center;
    .above_title {
      display: inline-block;
    }
    &__links {
      margin: 25px auto;
    }
  }

  .about-me {
    padding: 100px 0 100px 0;
    &__wrapper {
      gap: 25px;
    }
    &__photo {
      width: 320px;
    }
    &__skills {
      gap: 20px;
      margin-top: 20px;
    }
    &__title {
      line-height: 40px;
      margin-top: 13px;
    }
    &__descr {
      margin-top: 15px;
    }
  }

  .works {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .social {
    transform: translateY(-50%) translateX(-43%) rotate(-90deg);
  }

  .prices {
    &__list {
      gap: 15px 55px;
      padding: 0 30px 0 30px;
    }
  }

  .contact {
    .title {
      line-height: 44px;
    }
    &__form-text {
      margin-top: 10px;
    }
    .social {
      &__network {
        margin-top: 10px;
      }
    }
    &__wrapper {
      gap: 20px;
    }
    .form {
      &__wrapper {
        flex-direction: column;
        gap: 10px;
        .form__input {
          max-width: 100%;
        }
      }
      &__input {
        textarea {
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .skills {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .social {
    display: none;
  }
  .container {
    max-width: 95%;
  }

  .about-me {
    padding: 70px 0 70px 0;
    text-align: center;
    .above_title {
      display: inline-block;
    }
    &__info {
      margin-top: 25px;
    }
    &__wrapper {
      display: block;
    }
    &__photo {
      width: 70%;
      margin: 0 auto;
    }
    &__skills {
      grid-template-columns: 1fr 1fr;
      gap: 30px 15px;
      margin-top: 30px;
      text-align: left;
    }
    &__title {
      text-align: left;
    }

    &__descr {
      text-align: left;
    }
  }
  .works {
    padding-bottom: 60px;
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .prices {
    padding-bottom: 60px;
    &__list {
      grid-template-columns: 1fr;
      gap: 25px;
      padding: 0 30px 0 30px;
    }
  }
  .contact {
    .title {
      line-height: 50px;
    }
    &__info {
      width: 100%;
      max-width: 585px;
    }
    &__wrapper {
      flex-direction: column;
      gap: 20px;
    }
    &__img {
      max-width: 100%;
      height: 80vh;
      width: 70%;
    }
    .form {
      &__wrapper {
        .form__input {
          max-width: 60%;
        }
      }
      &__input {
        max-width: 60%;
        margin: 0 auto;
        textarea {
          height: 100px;
        }
      }
      .button {
        display: block;
        margin: 30px auto;
      }
    }
  }
}

@media screen and (max-width: 577px) {
  .container {
    max-width: 90%;
  }
  .promo {
    .above_title {
      margin-top: 46px;
    }
    .header {
      text-align: left;
      &__title {
        font-size: 26px;
        line-height: 39px;
      }
      &__links {
        max-width: 100%;
        .button {
          width: 50%;
        }
      }
    }
  }

  .skills {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &-item {
      padding: 30px;
      &__title {
        margin-top: 20px;
      }
      &__descr {
        margin-top: 15px;
      }
    }
  }

  .about-me {
    padding: 40px 0 40px 0;
    text-align: left;
    &__wrapper {
      display: block;
    }
    &__photo {
      width: 100%;
      height: 400px;
      margin: 0 auto;
    }
    &__skills {
      margin-top: 20px;
      grid-template-columns: 1fr;
      gap: 20px 0px;
    }
    &__title {
      margin-top: 26px;
      font-size: 24px;
      line-height: 36px;
    }

    &__descr {
      margin-top: 20px;
    }
  }

  .main-menu {
    min-width: 95%;
  }
  .benefit {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
      margin-top: 0;
    }
    .list {
      margin-top: 40px;
      &__element {
        margin-top: 25px;
      }
      li {
        &:nth-child(2) {
          margin-top: 45px;
        }
      }
    }
  }
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 15px;
  }

  .works {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    .work:not(:first-child) {
      margin-top: 20px;
    }
  }
  .prices {
    padding-bottom: 40px;
    &__list {
      grid-template-columns: 1fr;
      gap: 20px 0;
      padding: 0 0 0 25px;
    }
  }

  .contact {
    padding-bottom: 50px;

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-top: 26px;
    }
    &__info {
      width: 100%;
      max-width: 100%;
    }
    &__social {
      margin-top: 20px;
    }
    .social {
      &__network {
        margin-top: 20px;
        a {
          font-size: 30px;
        }
      }
    }
    &__form-text {
      margin-top: 20px;
    }
    &__img {
      display: none;
    }
    .form {
      margin-top: 0;
      &__wrapper {
        gap: 0px;
        .form__input {
          max-width: 100%;
          width: 100%;
          margin-top: 30px;
        }
      }

      &__input {
        max-width: 100%;
        width: 100%;
      }
      .button {
        width: 219px;
        height: 45px;
        margin-top: 30px;
      }
      &__policy {
        margin: 0;
      }
    }
  }
}
