.promo {
  padding: 321px 0 206px 0;
  background: url(./../../img/bg_promo.jpg);
  .header {
    &__title {
      margin-top: 9px;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      color: #ffffff;
    }
    &__links {
      display: flex;
      align-items: center;
      margin-top: 25px;
      max-width: 245px;
    }
    &__link {
      a {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        margin-left: 44px;
      }
    }
  }
}
