.promo {
  padding: 30vh 0 206px 0;
  background: url(./../img/bg_promo.jpg) center center/ cover no-repeat;
  min-height: 100vh;
  .header {
    .above_title {
      padding-left: 10px;
      &:before {
        @include circle;
        top: -20%;
        left: 0;
      }
    }
    &__title {
      margin-top: 9px;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      color: #ffffff;
    }
    &__links {
      display: flex;
      align-items: center;
      margin-top: 25px;
      max-width: 245px;
    }
    &__link {
      a {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        margin-left: 44px;
        transition: 0.6s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
