.skill {
  position: relative;
  &__img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 23px;
    z-index: 1;
    &::before {
      @include circle;
      z-index: -1;
      top: -10px;
      left: -10px;
    }
  }
  &__info {
    margin-left: 60px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 6px;
  }
}
